.html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.container-fluid {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #e4e4e4 50%, #ffffff 50%);
  border: solid 15px rgb(170, 136, 72);
}

.newGame {
  background-color: transparent;
  border: none;
  text-align: center;
  padding-top: 50px;
  font-size: 2rem;
}

#rowPlayers {
  padding-top: 120px;
}

#rowScoreDice {
  padding-top: 30px;
}

.globalsScores {
  color: red;
  font-size: 5rem;
}

.dice {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

#rowCurrentRollHold {
  padding-top: 300px;
}

#currentBloc1,
#currentBloc2 {
  width: 150px;
  background-color: red;
  border-radius: 5px;
}

.currentTitle {
  text-align: center;
}

.currentScore1,
.currentScore2 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.roll-hold {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}
