.html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.container-fluid {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #e4e4e4 50%, #ffffff 50%);
  border: solid 15px rgb(170, 136, 72);
}

.new-game {
  text-align: center;
  padding-top: 50px;
}

#row-players {
  padding-top: 120px;
}

#row-score-dice {
  padding-top: 30px;
}

.score-global-1 {
  color: red;
  font-size: 5rem;
}

.dice {
  background-color: aquamarine;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.score-global-2 {
  color: red;
  font-size: 5rem;
}

#row-current-roll-hold {
  padding-top: 300px;
}

#current-bloc-1,
#current-bloc-2 {
  width: 150px;
  background-color: red;
  border-radius: 5px;
}

.current-title {
  text-align: center;
}

.current-score {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.roll-hold {
  text-align: center;
}
