/* Media querries */
@media screen and (max-width: 1422px) {
  #rowCongratulations {
    display: none;
  }
}

@media screen and (max-width: 1035px) {
  .dice {
    width: 50px;
    height: 50px;
  }
  #rowDivider1 {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  #rowDivider2 {
    display: none;
  }
  #rowDivider3 {
    display: none;
  }
}

html {
  font-size: 16px;
}

/* Container */
.container-fluid {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #e4e4e4 50%, #ffffff 50%);
  border: solid 15px rgb(170, 136, 72);
}

/* New game btn */
.newGame {
  background-color: transparent;
  border: none;
  text-align: center;
  padding-top: 50px;
  font-size: 2rem;
}

/* Divider1 */
#rowDivider1 {
  padding-top: 120px;
}

#rowScoreDice {
  padding-top: 30px;
}

/* Globals scores */
.globalsScores {
  color: red;
  font-size: 5rem;
}

/* End of game congratulations */
#rowCongratulations {
  height: 50px;
}

.congratulations {
  color: red;
  font-size: 2rem;
}

/* Dice */
.dice {
  border-radius: 5px;
}

/* Divider2 */
#rowDivider2 {
  padding-top: 150px;
}

/* Current scores */
#currentBloc1,
#currentBloc2 {
  width: 150px;
  background-color: red;
  border-radius: 5px;
}

.currentTitle {
  text-align: center;
}

.currentScore1,
.currentScore2 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}

/* Roll dice and hold btn */
.roll-hold {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

#rowDivider3 {
  padding-top: 120px;
}
